@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('eot'),
		url('../fonts/icons.woff2') format('woff2'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-alarm-clock:before {
	content: "\E001";
}

.icon-analysis:before {
	content: "\E002";
}

.icon-arrow-right:before {
	content: "\E003";
}

.icon-call-answer:before {
	content: "\E004";
}

.icon-chat-comment:before {
	content: "\E005";
}

.icon-clock-circular:before {
	content: "\E006";
}

.icon-computer-graphic:before {
	content: "\E007";
}

.icon-devices:before {
	content: "\E008";
}

.icon-envelope:before {
	content: "\E009";
}

.icon-eye:before {
	content: "\E00A";
}

.icon-facebook-logo:before {
	content: "\E00B";
}

.icon-frame-landscape:before {
	content: "\E00C";
}

.icon-google-plus-logo:before {
	content: "\E00D";
}

.icon-graph-line-screen:before {
	content: "\E00E";
}

.icon-html-coding:before {
	content: "\E00F";
}

.icon-instagram-logo:before {
	content: "\E010";
}

.icon-location-pointer:before {
	content: "\E011";
}

.icon-magnifying-glass:before {
	content: "\E012";
}

.icon-photo-camera:before {
	content: "\E013";
}

.icon-pinterest:before {
	content: "\E014";
}

.icon-printer-:before {
	content: "\E015";
}

.icon-settings:before {
	content: "\E016";
}

.icon-shopping-cart:before {
	content: "\E017";
}

.icon-twitter-logo-silhouette:before {
	content: "\E018";
}

.icon-up-arrow:before {
	content: "\E019";
}

.icon-users:before {
	content: "\E01A";
}

.icon-website-design-symbol:before {
	content: "\E01B";
}

.icon-youtube:before {
	content: "\E01C";
}
