/* Global style */

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}


/* Navbar */

header {
  nav {
    background: #f38181;

    .navbar-toggler {
      border-color: transparent !important;
      margin-right: -14px;

      &:focus {
        outline: none;
      }

      .menu-custom,
      .menu-custom:before,
      .menu-custom:after {
        content: '';
        display: block;
        background: #fff;
        height: 3px;
        width: 30px;
        transition: all ease-in-out 200ms;
      }

      .menu-custom:before {
        transform: translateY(-8px);
      }

      .menu-custom:after {
        transform: translateY(5px);
      }
    }

    .menu-open {
      .menu-custom {
        transform: rotate(45deg);
      }

      .menu-custom:before {
        opacity: 0;
      }

      .menu-custom:after {
        transform: translateY(-3px) rotate(-90deg);
      }
    }

    .navbar-brand {
      font-weight: 800;
      font-size: 30px;
    }

    .navbar-nav {
      .nav-item {
        display: flex;
        justify-content: center;
        margin: 5px 0;
        .nav-link{
          padding: 0.1rem 0;
        }
        a {
          text-transform: uppercase;
          font-size: 14px;
          color: #fff !important;
          font-weight: 500;
        }
      }

      .active {
        a {
          color: #fce38a !important;
          border-bottom: 2px solid #fce38a;
        }
      }
    }
  }
}


/* Hero section */

#hero-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center center;

  &:before {
    content: '';
    position: absolute;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #f38181; /* Old browsers */
    background: -moz-linear-gradient(top, #f38181 0%, #fce38a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f38181 0%, #fce38a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f38181 0%, #fce38a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f38181', endColorstr='#fce38a', GradientType=0); /* IE6-9 */
  }

  .hero-text {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    z-index: 2;

    h2 {
      font-family: 'Kaushan Script', cursive;
      font-size: 40px;
    }

    h1 {
      position: relative;
      font-size: 50px;
      font-weight: 800;
      line-height: 60px;
      text-transform: uppercase;
      width: 90%;
      margin: 0 auto;
      padding: 20px 0;
    }

    .mouse {
      position: absolute;
      border: 1px solid #fff;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      height: 33px;
      width: 20px;
      margin: 0 0 0 -10px;
      display: block;
      bottom: 70px;
      left: 50%;
      z-index: 2;
      &:before{
        content: '';
        display: block;
        position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background: #fff;
        width: 2px;
        height: 6px;
        top: 5px;
        margin: 0 auto;
        -webkit-animation-name: drop;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-play-state: running;
        animation-name: drop;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-play-state: running;
      }
    }
    @keyframes drop {
      0% {
        top: 2px;
        opacity: 0
      }

      30% {
        top: 8px;
        opacity: 1
      }

      100% {
        top: 15px;
        opacity: 0
      }
    }
  }
}

#about-us {
  .block-img {
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 30px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
  }
  .block-effect{
    img{
      max-width: none;
      width: -webkit-calc(100% + 60px);
      width: calc(100% + 60px);
      min-height: 100%;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-50px,0,0);
      transform: translate3d(-50px,0,0);
    }
    .small-content{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      i{
        font-size: 20px;
      }
      span{
        font-weight: 600;
      }
      i,
      span{
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0);
        text-transform: uppercase;
        color: #fff;
      }
      &:before{
        position: absolute;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-20px,0,0);
        transform: translate3d(-20px,0,0);
      }
    }
    &:hover img{
      opacity: 0.2;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
    &:hover .small-content:before,
    &:hover .small-content span,
    &:hover .small-content i{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  }
}

#counter-section {
  background-color: #95e1d3;

  .counter-number-text {
    color: #fff;

    span {
      font-size: 60px;
      font-weight: 800;
    }

    h6 {
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

#services {
  .services-info {
    margin-top: 30px;
    text-align: center;
    i {
      display: block;
      color: #95e1d3;
      font-size: 40px;
      @include transition(all 0.3s ease-out);
    }
    h5 {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      color: #999999;
      font-size: 15px;
      line-height: 20px;
    }
    &:hover{
      i {
        transform: rotateY(180deg);
        color: #f38181;
      }
    }
  }
}

#design-section {
  position: relative;
  background-image: url(../img/design-bg.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 850px;

  .design-img {
    position: absolute;
    bottom: -10.7%;
    left: 36%;
  }
}

#what-we-do {
  #accordion {
    .card {
      border-radius: 0;
      border: 1px solid #e5e5e5;
      border-bottom: none;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .collapse {
        border-bottom: 1px solid #e5e5e5;
      }
    }

    .card-header {
      background-color: #fff;
      border-radius: 0;
      border-bottom: 1px solid #e5e5e5;
      padding: 0;

      button {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: #333;
        width: 100%;
        padding: .375rem 1.15rem;

        &:hover,
        &:focus {
          text-decoration: none;
          background-color: #f9f9f9;
        }

        i {
          color: #95e1d3;
          font-size: 30px;
          margin-right: 15px;
        }
      }
    }

    .card-body {
      color: #999;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-style: italic;
      font-weight: 300;
    }

    .mCustomScrollbar {
      height: 150px;

      .mCSB_dragger_bar {
        background-color: #95e1d3;
      }

      .mCSB_draggerRail {
        background-color: #f5f5f5;
      }
    }
  }
}

.parallax-window {
  position: relative;
  min-height: 170px;
  padding: 60px 0;
  background-image: url(../img/bg-parallax.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .silver-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #999;
    z-index: 2;
    opacity: 0.5;
  }

  h3 {
    position: relative;
    z-index: 3;
    width: 100%;
    text-align: center;
    color: #fff;
    @include text-shadow();
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
  }
}

#team {
  .member-box {
    .member-img{
      position: relative;
      overflow: hidden;
      img{
        transition: opacity 0.5s, transform .3s;
      }
      .social-wrapp{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s;
        overflow: hidden;
      }
      .team-social-links{
        padding: 0;
        margin: 0;
        list-style: none;
        transform: translateX(-170%);
        @include transition(all 0.2s ease-out);
        li{
          display: inline-block;
          text-align: center;
          a{
            display: block;
            width: 36px;
            height: 36px;
            line-height: 36px;
            background-color: #fce38a;
            color: #f38181;
            @include transition(all 0.2s ease-out);
            &:hover{
              background-color: #f38181;
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
      &:hover{
        img{
          opacity: 0.2;
          transform: scale(1.1);
        }
        .social-wrapp{
         opacity: 1;
          .team-social-links{
            transform: translateX(0%);
          }
        }
      }
    }
    .member-info {
      h5 {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #999;
        font-weight: 300;
        font-style: italic;
        margin-top: 5px;
      }
    }
  }
}

#sponsor-section {
  width: 100%;
  height: 250px;
  background-color: #f8f8f8;
  padding: 60px 0;

  .row {
    align-items: center;
  }
}

#work-section {
  .work-gallery {
    margin-top: 60px;
  }
}

#testimonials {
  background-color: #f8f8f8;
  padding: 50px 0;

  .owl-carousel {
    display: flex;
  }

  .profile-info {
    display: flex;
    align-items: center;

    .profile-img {
      img {
        width: 210px;
        height: 210px;
      }
    }

    .profile-text {
      margin-left: 20px;

      p {
        font-size: 24px;
        color: #999;
        font-style: italic;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        max-width: 800px;
      }

      .profile-name {
        position: relative;
        font-size: 24px;
        font-family: 'Kaushan Script', cursive;
        padding-left: 70px;
        display: block;

        &:before {
          content: '';
          width: 60px;
          height: 3px;
          background-color: #f38181;
          position: absolute;
          left: 4%;
          top: 50%;
          transform: translateX(-50%)
        }
      }
    }
  }
}

#blog-section {
  padding-top: 0;
  .blog-img {
    position: relative;

    .date {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 60px;
      height: 70px;
      background-color: #95e1d3;
      color: #fff;
      text-align: center;
      padding-top: 20px;

      span {
        display: block;
      }

      .number {
        font-weight: 600;
        font-size: 30px;
        line-height: 18px;
      }

      .mounth {
        font-size: 12px;
        font-style: italic;
        margin-top: 2px;
      }
    }
  }

  .blog-info {
    h6 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      color: #333;
      margin-top: 15px;
    }

    p {
      font-size: 14px;
      color: #999;
      line-height: 16px;
      padding: 15px 0;
      border-bottom: 1px solid #e5e5e5;
    }

    ul {
      padding-left: 0;
      padding-top: 15px;
      list-style: none;

      li {
        span {
          margin-right: 20px;

          i {
            color: #95e1d3;
            font-size: 20px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

#map {
  position: relative;

  .map-bg {
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url(../img/map-bg.jpg);
    background-position: center center;
    background-size: cover;

    .overlay-map {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 0;
      z-index: 1;
      @include transition (all 0.3s ease-out);
    }
  }

  a {
    position: relative;
    text-decoration: none;
    display: block;
  }

  a:hover .overlay-map {
    opacity: 1;

  }

  .map-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    color: #f38181;

    i {
      font-size: 30px;
    }

    h3 {
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

footer {
  background-color: #f8f8f8;

  .subscribe-section {
    .sub-text {
      h2 {
        font-size: 40px;
        font-weight: 900;
        color: #ccc;
      }

      p {
        margin: 30px 0;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 25px;
        color: #999;
      }
    }

    .followers {
      p {
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;

        span {
          font-size: 18px;
        }
      }

      .follow {
        margin-top: 20px;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        color: #999;
        font-size: 15px;
        font-style: italic;
      }

      ul {
        padding-left: 10px;
        list-style: none;
        display: inline-block;

        li {
          display: inline-block;
          margin: 0 5px;
          a {
            color: #95e1d3;
            @include transition(all 0.2s ease-out);
            &:hover{
              text-decoration: none;
              color: #f38181;
            }
          }
        }
      }
    }
  }

  .footer-form {
    margin-top: 10px;
    display: flex;

    .form-group {
      width: 60%;
    }

    input {
      border-radius: 0;
      border: 1px solid #e5e5e5;

      &::placeholder {
        font-family: 'Roboto', sans-serif;
        color: #999;
        font-size: 15px;
        font-style: italic
      }

      &:focus {
        box-shadow: none;
        border: 1px solid #95e1d3;
      }
    }

    button {
      text-transform: uppercase;
      font-size: 14px;
      border-radius: 0;
      background-color: #95e1d3;
      border: 1px solid #95e1d3;
      font-weight: 600;
      height: 38px;

      &:hover {
        background-color: #f38181;
        border: 1px solid #f38181;
      }
    }
  }

  .footer-header {
    h5 {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 40px;
    }
  }

  .footer-contact {
    padding-left: 0;
    list-style: none;

    li {
      margin: 13px 0;
      color: #999;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
      padding-bottom: 2px;

      strong {
        color: #95e1d3;
      }
    }
  }

  .img-blog{
    a{
      img{
        transition: opacity 0.3s;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
}

.copy-section {
  background-color: #f8f8f8;
  border-top: 1px solid #e5e5e5;
  padding: 20px 0;

  .copyright {
    p {
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.auto-scroll-to-top {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 20px;
  right: -80px;
  background-color: #f38181;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  z-index: 100;
  line-height: 25px;
  border-radius: 50%;
  -moz-box-shadow: 0 0 5px 0px #888;
  -webkit-box-shadow: 0 0 5px 0px #888;
  box-shadow: 0 0 5px 0px #888;
  transition: 0.2s;
  i{
    font-size: 12px;
  }
}

.auto-scroll-to-top:hover {
  background-color: #95e1d3;
}

.visible {
  right: 30px;
  transition: 0.3s;
}