.space-section {
  padding: 90px 0;
}

.heading-text-section {
  text-align: center;

  h4 {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
  }

  h3 {
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 15px 0 25px 0;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 3px;
      background-color: #f38181;
    }
  }

  p {
    margin-top: 25px;
    font-size: 15px;
    color: #999;
    line-height: 17px;
  }
}

.no-padding {
  padding: 0;
}

.mt-spc {
  margin-top: 60px;
}

.mx-spc {
  margin: 0 10px;
}

.bg-gradient {
  background: -moz-linear-gradient(top, #f38181 0%, #fce38a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f38181 0%, #fce38a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f38181 0%, #fce38a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f38181', endColorstr='#fce38a', GradientType=0); /* IE6-9 */
}

.b-x{
  padding: 25px 0;
}

figure{
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0;
}

figcaption{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.img-effect{
  img{
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  &:hover{
    img{
      opacity: 0.2;
    }
  }
  .figcaption:before,
  .figcaption:after{
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
  }
  .figcaption:before{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
  }
  .figcaption:after{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
  }
  i{
    font-size: 40px;
  }
  h5{
    text-transform: uppercase;
  }
  p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-top: 5px;
  }
  h5,
  p,
  i{
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
  }
  &:hover{
    figcaption:before,
    figcaption:after{
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    h5,
    p,
    i{
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  }
}

